<?xml version='1.0' encoding='utf-8'?>
<plugin id="ymyImprove" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ymyImprove</name>
    <js-module name="ymyImprove" src="www/ymyImprove.js">
        <clobbers target="cordova.plugins.ymyImprove" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ymyImprove">
                <param name="ios-package" value="ymyImprove" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/ymyImprove.m" />
    </platform>
</plugin>
